<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--                                                UserName                               -->
    <add key="Usename" value="FP250418AR" />
    <add key="Password" value="E?c5+w3Q7" />

    <!--                                                Environments URLs                                -->
    <add key="URL" value="http:stellar11:82/User/dashboard.aspx" />
    <!--                                                Browsers                                         -->
    <add key="Browser" value="CR" />
    <!--                                              Browser Path                                         -->
    <add key="Path" value="D:\\chromedriver_win64" />
    <!--                                                Client's Personal Details                               -->
    <add key="C_USERNAME" value="Client25APRIL" />
    <add key="C_GIVEN NAME" value="Swapnil" />
    <add key="C_SUR NAME" value="Test" />
    <add key="C_DOB" value="01/01/1970" />
    <add key="C_MS" value="Married" />
    <add key="C_TFN" value="123456782" />
    <add key="C_MOB" value="0423456789" />
    <add key="C_EMAIL" value="swapnil.landge@stellarconsultants.co.in" />
    <add key="C_SKYPE" value="swapnil.landge@stellarconsultants.co.in" />
    <add key="C_ADDR1" value="Suite 6" />
    <add key="C_ADDR2" value="68-70 Old Princes Hwy" />
    <add key="C_SUBR" value="Beaconsfield" />
    <add key="C_STA" value="Victoria" />
    <add key="C_PC" value="1234" />
    <add key="C_Cntry" value="Australia" />
    <!--                                                Partner's Personal Details                               -->
    <add key="P_GIVEN NAME" value="TestP" />
    <add key="P_SUR NAME" value="TName" />
    <add key="P_DOB" value="24/10/1975" />
    <add key="P_MS" value="Single" />
    <add key="P_TFN" value="123456782" />
    <add key="P_MOB" value="0498765432" />
    <add key="P_EMAIL" value="swapnil.landge@stellarconsultants.co.in" />
    <add key="P_SKYPE" value="swapnil.landge@stellarconsultants.co.in" />
    <!--                                          Express  Client  Income & Expenses                               -->
    <add key="C_Incomes" value="Investments Income" />
    <add key="C_Occu" value="Engineer" />
    <add key="C_Gross" value="30000" />
    <add key="C_Desc" value="BondJ" />
    <add key="C_Freq" value="Weekly" />
    <add key="C_Amnt" value="1500" />

    <!--                                         Express  Partner  Income & Expenses                               -->
    <add key="P_Incomes" value="Salary and Wages Income" />
    <add key="P_Occu" value="Lawyer" />
    <add key="P_Gross" value="50000" />
    <add key="P_Desc" value="Misc" />
    <add key="P_Freq" value="Fortnightly" />
    <add key="P_Amnt" value="900" />

    <!--                                                Assets & Liabilities                               -->
    <add key="C_VT1" value="Investment Company" />
    <add key="C_ALName1" value="Testing Purpose Investment Company" />
    <add key="C_ALValue1" value="324" />
    <add key="C_VT2" value="Asset" />
    <add key="C_ALName2" value="Testing Assets" />
    <add key="C_ALValue2" value="547" />
    <add key="C_LName1" value="Client Liability 001" />
    <add key="C_LCB1" value="851" />
    <add key="C_LIR1" value="8" />
    <add key="C_LName2" value="C Liability 2" />
    <add key="C_LCB2" value="800" />
    <add key="C_LIR2" value="8" />
    <add key="P_VT1" value="Stock" />
    <add key="P_ALName1" value="Testing STOCK" />
    <add key="P_ALValue1" value="666" />
    <add key="P_VT2" value="Trust" />
    <add key="P_ALName2" value="Testing Trust" />
    <add key="P_ALValue2" value="657" />
    <add key="P_LName1" value="Partner Liability" />
    <add key="P_LCB1" value="387" />
    <add key="P_LIR1" value="5" />
    <!--                                                SUPER                               -->
    <add key="C_SVT1" value="Government Super" />
    <add key="C_PN1" value="Sam Pat" />
    <add key="C_SCB1" value="2100" />
    <add key="P_SVT1" value="Industry Fund" />
    <add key="P_PN1" value="George Morris" />
    <add key="P_SCB1" value="2300" />
    <!--                                               Advanced PD Contact                               -->
    <add key="PCM" value="Email" />
    <!--                                               Advanced PD Nearest Relative                               -->
    <add key="Name" value="Sam1 Taylor" />
    <add key="ADR1" value="Unit 1" />
    <add key="ADR2" value="Collins Street" />
    <add key="SubR" value="Melbourne" />
    <add key="StatR" value="South Australia" />
    <add key="PostR" value="3018" />
    <add key="CntR" value="Australia" />
    <add key="ContR" value="0465983214" />
    <add key="RelR" value="Cousine1" />
    <!--                                               Advanced PD Client Dependants                              -->
    <add key="DepN" value="Roger" />
    <add key="DepRel" value="Son" />
    <add key="Depdob" value="04/01/2001" />
    <add key="Depgen" value="Male" />
    <add key="Deptyp" value="Private" />
    <add key="Depn" value="Don Bosco" />
    <add key="Depc" value="150" />
    <!--                                               Advanced PD Client Employment Details                             -->
    <add key="C_C_Occu" value="CEO" />
    <add key="C_C_Pos" value="Senior" />
    <add key="C_C_Emplo" value="ABC" />
    <add key="C_C_Stat" value="Full Time" />
    <add key="C_C_SDate" value="19/05/2017" />
    <add key="C_C_Leave" value="12/11/2017" />
    <add key="C_C_ALeave" value="50" />
    <add key="C_C_LSLeave" value="15" />
    <add key="C_C_SLeave" value="21" />
    <add key="C_C_Other" value="10" />
    <add key="C_C_Adr1" value="10 Dingley Lane" />
    <add key="C_C_Adr2" value="Stella Street" />
    <add key="C_C_Subrb" value="Melbourne" />
    <add key="C_C_State" value="Western Australia" />
    <add key="C_C_Post" value="3767" />
    <add key="C_C_Cntry" value="Australia" />
    <add key="C_C_Phone" value="0465784268" />
    <add key="C_Prev_Occ" value="GM" />
    <add key="C_Prev_Emplo" value="ZEN" />
    <add key="C_Prev_Adr1" value="Infinity Tower" />
    <add key="C_Prev_Adr2" value="M G Street" />
    <add key="C_Prev_Subrb" value="Melbourne" />
    <add key="C_Prev_State" value="New South Wales" />
    <add key="C_Prev_Post" value="3767" />
    <add key="C_Prev_Cntry" value="Australia" />
    <add key="C_Prev_DateC" value="27/12/2017" />
    <add key="C_Prev_Phone" value="0467813254" />
    <!--                                               Advanced PD Partner Address                          -->
    <add key="P_Prev_Occ" value="Manager" />
    <add key="P_Prev_Emplo" value="Suzuki" />
    <add key="P_Prev_Adr1" value="Bush Lane" />
    <add key="P_Prev_Adr2" value="F C Street" />
    <add key="P_Prev_Subrb" value="Melbourne" />
    <add key="P_Prev_State" value="New South Wales" />
    <add key="P_Prev_Post" value="3767" />
    <add key="P_Prev_Cntry" value="Australia" />
    <add key="P_Prev_DateC" value="27/12/2017" />
    <add key="P_Prev_Phone" value="0467813254" />
    <!--                                               Advanced PD Partner Nearest Relative                               -->
    <add key="PName" value="Neil Paul" />
    <add key="PADR1" value="Unit 2" />
    <add key="PADR2" value="Collins Street" />
    <add key="PSubR" value="Melbourne" />
    <add key="PStatR" value="South Australia" />
    <add key="PPostR" value="3000" />
    <add key="PCntR" value="Australia" />
    <add key="PContR" value="0498137649" />
    <add key="PRelR" value="Cousine" />
    <!--                                               Advanced PD Partner Dependants                              -->
    <add key="PDepN" value="Jay" />
    <add key="PDepRel" value="Son" />
    <add key="PDepdob" value="27/10/2005" />
    <add key="PDepgen" value="Male" />
    <add key="PDeptyp" value="Private" />
    <add key="PDepn" value="Holy Cross" />
    <add key="PDepc" value="200" />
    <!--                                               Advanced PD Partner Employment Details                             -->
    <add key="P_C_Occu" value="MD" />
    <add key="P_C_Pos" value="Senior" />
    <add key="P_C_Emplo" value="S1" />
    <add key="P_C_Stat" value="Full Time" />
    <add key="P_C_SDate" value="08/02/2017" />
    <add key="P_C_Leave" value="21/10/2017" />
    <add key="P_C_ALeave" value="26" />
    <add key="P_C_LSLeave" value="18" />
    <add key="P_C_SLeave" value="24" />
    <add key="P_C_Other" value="16" />
    <add key="P_C_Adr1" value="Suite 6" />
    <add key="P_C_Adr2" value="68-70 Old Princes Hwy" />
    <add key="P_C_Subrb" value="Beaconsfield" />
    <add key="P_C_State" value="Northern Territory" />
    <add key="P_C_Post" value="3807" />
    <add key="P_C_Cntry" value="Australia" />
    <add key="P_C_Phone" value="0475138461" />

    <!--                                               Advanced Income,Expenses,Savings Client Irregular Incomes                              -->
    <add key="C_IR_INCOME_Name" value="Test IRI" />
    <add key="C_IR_INCOME_Date" value="26/05/2017" />
    <add key="C_IR_INCOME_Freq" value="Monthly" />
    <add key="C_IR_INCOME_Amnt" value="54000" />
    <add key="C_IR_Expenses_Amnt" value="500" />
    <add key="C_IR_Expenses_Name" value="Misc Exp" />
    <add key="C_IR_Expenses_Date" value="13/10/2017" />
    <add key="C_IR_Expenses_Freq" value="Yearly" />
    <add key="C_IR_Expenses_Amnt" value="9000" />
    <add key="C_Savings_Name" value="Test Savings" />
    <add key="C_Savings_Amnt" value="5432" />
    <add key="C_Savings_Freq" value="Fortnightly" />

    <!--                                               Advanced Income,Expenses,Savings Partner Regular/Irregular Incomes/Expenses                              -->
    <add key="P_RI_Type" value="Superannuation Pension / Age Pension / Allocated Pension / Annuity / Veterans Affairs" />
    <add key="P_RI_Name" value="All Pensions" />
    <add key="P_RI_Gross" value="7800" />
    <add key="P_II_Name" value="IIT" />
    <add key="P_II_Date" value="05/12/2017" />
    <add key="P_II_Freq" value="Bi-Monthly" />
    <add key="P_II_Amnt" value="9500" />
    <add key="P_RE_Name" value="TRE" />
    <add key="P_RE_Freq" value="Daily" />
    <add key="P_RE_Amnt" value="3100" />
    <add key="P_IE_Name" value="IET" />
    <add key="P_IE_Date" value="21/01/2018" />
    <add key="P_IE_Freq" value="Halfyearly" />
    <add key="P_IE_Amnt" value="524" />

    <add key="P_Savings_Names" value="TS" />
    <add key="P_Savings_Amnt" value="1000" />
    <add key="P_Savings_Freq" value="Weekly" />

    <!--                                               Advanced Investments Client  &  Partner                            -->

    
    <add key="C_Inv_VehicleType" value="Asset" />
    <add key="C_Inv_OwnerType" value="Tenants in Common" />
    <add key="C_Invests_DP" value="13/11/2017" />
    <add key="C_Invests_Emp" value="200" />
    <add key="C_Inv_OwnershipPercentClient" value="60" />
    <add key="C_Inv_OwnershipPercentPartner" value="40" />
    <add key="C_Inv_CurrentValue" value="250" />
    <add key="C_Inv_PurchasePrice" value="80" />
    <add key="C_Inv_TrustType" value="Fixed" />
    <add key="C_Inv_Trustee" value="Raja F" />
    <add key="C_Inv_Beneficiaries" value="Ram V" />
    <add key="C_Inv_Units" value="52" />
    <add key="C_Inv_pa" value="50000" />
    <add key="C_Inv_Centrelink" value="2100" />   
    <add key="C_Inv_AssetType" value="Collection" />
    <add key="C_Inv_CompanyPurpose" value="Creditor Protection" />
    <add key="C_Inv_NoOfEmployees" value="50" />
    <add key="C_Inv_Shareholders" value="10" />




    <add key="P_Inv_VehicleType" value="Asset" />
    <add key="P_Inv_OwnerType" value="Tenants in Common" />
    <add key="P_Invests_DP" value="13/11/2017" />
    <add key="P_Invests_Emp" value="200" />
    <add key="P_Inv_OwnershipPercentClient" value="50" />
    <add key="P_Inv_OwnershipPercentPartner" value="50" />
    <add key="P_Inv_CurrentValue" value="130" />
    <add key="P_Inv_PurchasePrice" value="70" />
    <add key="P_Inv_TrustType" value="Fixed" />
    <add key="P_Inv_Trustee" value="Gal D" />
    <add key="P_Inv_Beneficiaries" value="Rita t" />
    <add key="P_Inv_Units" value="15" />
    <add key="P_Inv_pa" value="14000" />
    <add key="P_Inv_Centrelink" value="3500" />
    <add key="P_Inv_AssetType" value="Collection" />
    <add key="P_Inv_CompanyPurpose" value="Creditor Protection" />
    <add key="P_Inv_NoOfEmployees" value="80" />
    <add key="P_Inv_Shareholders" value="15" />


    <!--                                               Advanced Assets  Client                             -->
    

    <add key="C_Assets_Owner" value="Solely Owned" />
    <add key="C_Assets_PD" value="15/02/2018" />
    <add key="C_Assets_Deem" value="10" />
    <add key="C_Assets_Type" value="Property" />
    <!--                                               Advanced Liabilities  Client                             -->
    <add key="C_Lia_Descr" value="Test C" />
    <add key="C_Lia_LA" value="10000" />
    <add key="C_Lia_LType" value="Principal &amp; Interest" />
    <add key="C_Lia_LN" value="Swap" />
    <add key="C_Lia_IType" value="Variable" />
    <add key="C_Lia_Repay" value="2100" />

    <add key="C_Lia_Freq" value="Fortnightly" />


    <!--                                              Advanced Investments   Advanced Assets,Liabilities  Partner                             -->
    
    
    <add key="P_Lia_Descr" value="Test P" />
    <add key="P_Lia_LA" value="13000" />
    <!--add key="P_Lia_LType" value="Principal &amp; Interest" /-->
    <add key="P_Lia_LType" value="Interest Only" />
    <add key="P_Lia_LN" value="Lan" />
    <add key="P_Lia_IType" value="Fixed" />
    

    <add key="P_Assets_Name" value="Test A" />
    <add key="P_Assets_Owner" value="Tenants in Common" />
    <add key="P_Assets_Esti" value="2500" />
    <add key="P_Assets_PD" value="11/10/2017" />
    <add key="P_Assets_Type" value="Vehicle" />
    <add key="P_Assets_PA" value="1200" />
    <add key="P_Assets_Inc" value="100" />
    <add key="P_Assets_Matu" value="15/12/2019" />

    <add key="P_Lia_LN" value="Tony Hank" />
    <add key="P_Lia_IT" value="Variable" />
    <add key="P_Lia_TR" value="5" />

    <add key="P_Lia_RA" value="500" />
    <add key="P_Lia_Freq" value="Quarterly" />
    <add key="P_Lia_Rep" value="1230" />
    <add key="P_Lia_FT" value="Defined Benefit Fund" />
    <add key="P_Lia_UIO" value="Cap Secure" />
    <add key="P_Lia_CE" value="2018" />
    <add key="P_Lia_PE" value="2017" />
    <add key="P_Lia_2PE" value="2016" />
    <add key="P_Lia_TV" value="3201" />
    <add key="P_Lia_MV" value="7000" />


    <!--                                             Super Client                             -->

    <add key="C_Sup_FT" value="Accumulation Fund" />
    <add key="C_Sup_UIO" value="Cap Stable" />
    <add key="C_Sup_DJ" value="15/12/2017" />
    <add key="C_Sup_CY" value="900" />
    <add key="C_Sup_PY" value="1000" />
    <add key="C_Sup_2PY" value="500" />
    <add key="C_Sup_TV" value="400" />
    <add key="C_Sup_MV" value="1000" />
    <add key="C_Sup_tya" value="500" />
    <add key="C_Sup_lya" value="450" />
    <add key="C_Sup_pya" value="300" />
    <add key="C_Sup_Contri" value="Super Account: Sam Pat (Current)" />



    <!--                                             Super Partner                             -->


    <add key="P_Sup_FT" value="Defined Benefit Fund" />
    <add key="P_Sup_UIO" value="Balanced" />
    <add key="P_Sup_DJ" value="24/10/2017" />
    <add key="P_Sup_CE" value="1000" />
    <add key="P_Sup_CY" value="3124" />
    <add key="P_Sup_PY" value="2541" />
    <add key="P_Sup_2PY" value="564" />
    <add key="P_Sup_TV" value="247" />
    <add key="P_Sup_MV" value="1245" />
    <add key="P_Sup_tya" value="245" />
    <add key="P_Sup_lya" value="500" />
    <add key="P_Sup_pya" value="678" />
    <add key="P_Sup_Contri" value="Super Account: George Morris (Current)" /> 


    <!--                                          Express   Client & Partner Financial Objecives & Goals                             -->

    <add key="C_FO_Type1" value="Debt Management" />
    <add key="C_FO_Type" value="- Select -" />

    <add key="C_FO_Prio1" value="Medium" />
    <add key="C_FO_Prio" value="- Select -" />

    <add key="P_FO_Type1" value="Risk Cover" />
    
    
    <!--add key="P_FO_Type1" value="2" /-->

    <add key="P_FO_Prio1" value="Extreme" />

    <add key="P_FO_Type" value="- Select -" />

    <add key="P_FO_Prio" value="- Select -" />


    <!--                                          Advanced   Client & Partner Financial Objecives & Goals                             -->

    <add key="C_FO_Amnt" value="1000" />

    <add key="P_FO_Amnt" value="555" />

    <!--                                          Advanced   Client & Partner Estate Planning                             -->

    <add key="C_EP_DOW" value="21/04/2010" />

    <add key="C_EP_DLR" value="15/05/2011" />
    <add key="C_EP_HON" value="Tony Clerk" />
    <add key="C_EP_NOE" value="Denny H" />
    <add key="C_EP_NOT" value="Jack Parkar" />

    <add key="C_EP_Inher" value="150" />


    <add key="C_EP_POA_Name" value="John" />
    <add key="C_EP_GPOA_State" value="VIC" />
    <add key="C_EP_GPOA_ED" value="15/07/2021" />

    <add key="C_EP_EPOAF_State" value="ACT" />

    <add key="C_EP_EPOAM_State" value="SA" />

    <add key="C_EP_EPOAG_State" value="QLD" />

    <add key="C_EP_EPOAO_State" value="NT" />


    <add key="P_EP_DOW" value="19/01/2018" />

    <add key="P_EP_DLR" value="27/03/2018" />
    <add key="P_EP_HON" value="Mark Tayor" />
    <add key="P_EP_NOE" value="Michal J" />
    <add key="P_EP_NOT" value="Hari D" />

    <add key="P_EP_Inher" value="215" />



    <add key="P_EP_POA_Name" value="Leela" />
    <add key="P_EP_GPOA_State" value="NSW" />
    <add key="P_EP_GPOA_ED" value="18/01/2020" />

    <add key="P_EP_EPOAF_State" value="TAS" />

    <add key="P_EP_EPOAM_State" value="VIC" />

    <add key="P_EP_EPOAG_State" value="WA" />

    <add key="P_EP_EPOAO_State" value="ACT" />


    <!--                                          Advanced   Client & Partner Additional Notes                             -->

    <add key="C_AN" value="Clients Additional Notes for Testing" />
    <add key="P_AN" value="Partner Additional Notes for Testing...." />

    <!--                                          Advanced   Client & Partner Discovery Notes                             -->
    <add key="C_DN" value="Clients DISCOVERY NOTES for Testing" />
    <add key="P_DN" value="Partner DN for Testing" />


    <!--                                            Client & Partner Insurance                             -->
    <add key="C_Insur_Type" value="Income Protection" />
    <add key="C_Insur_Pro_Name" value="Lisa Ray" />
    <add key="C_Insur_SumInsur" value="9500" />
    <add key="C_Insur_Prem_Amnt" value="700" />
    <add key="C_Insur_Pay_Freq" value="Fortnightly" />


    <add key="P_Insur_Type" value="Trauma / Critical Illness" />
    <add key="P_Insur_Pro_Name" value="Leena Mark" />
    <add key="P_Insur_SumInsur" value="1524" />
    <add key="P_Insur_Prem_Amnt" value="154" />
    <add key="P_Insur_Pay_Freq" value="Weekly" />


    <add key="C_Insur_Risk_PremTyp" value="Level" />
    <add key="C_Insur_Priv_Features" value="Flexible" />
    <add key="C_Insur_Priv_Insurer" value="Jay C" />
    <add key="C_Insur_Priv_Premium" value="1050" />
    <add key="C_Insur_Priv_Typ" value="Standard" />
    <add key="C_Insur_Priv_Freq" value="Weekly" />



    <add key="C_Insur_GI_SumIns" value="20500" />
    <add key="C_Insur_GI_Typ" value="Home / House and Content" />
    <add key="C_Insur_GI_Insurer" value="Leena Patric" />
    <add key="C_Insur_GI_Premium" value="700" />
    <add key="C_Insur_GI_Date" value="21/01/2021" />
    <add key="C_Insur_GI_Freq" value="Weekly" />



    <add key="C_Insur_BI_SumIns" value="50105" />
    <add key="C_Insur_BI_Typ" value="Investment / Business Property" />
    <add key="C_Insur_BI_Insurer" value="Mac Parkar" />
    <add key="C_Insur_BI_Premium" value="1500" />
    <add key="C_Insur_BI_Date" value="25/03/2020" />
    <add key="C_Insur_BI_Freq" value="Quarterly" />


    <add key="P_Insur_Risk_PremTyp" value="Level" />
    <add key="P_Insur_Priv_Features" value="Flexible" />
    <add key="P_Insur_Priv_Insurer" value="Jay C" />
    <add key="P_Insur_Priv_Premium" value="1050" />
    <add key="P_Insur_Priv_Typ" value="Standard" />
    <add key="P_Insur_Priv_Freq" value="Weekly" />



    <add key="P_Insur_GI_SumIns" value="20500" />
    <add key="P_Insur_GI_Typ" value="Home / House and Content" />
    <add key="P_Insur_GI_Insurer" value="Leena Patric" />
    <add key="P_Insur_GI_Premium" value="700" />
    <add key="P_Insur_GI_Date" value="21/01/2021" />
    <add key="P_Insur_GI_Freq" value="Weekly" />



    <add key="P_Insur_BI_SumIns" value="50105" />
    <add key="P_Insur_BI_Typ" value="Investment / Business Property" />
    <add key="P_Insur_BI_Insurer" value="Mac Parkar" />
    <add key="P_Insur_BI_Premium" value="1500" />
    <add key="P_Insur_BI_Date" value="25/03/2020" />
    <add key="P_Insur_BI_Freq" value="Quarterly" />




    <!--                                            Client & Partner Appendix  Debt Management                         -->
    <add key="C_Appen_DebtRepay" value="43" />
    <add key="C_Appen_LifeDebt" value="Increasing" />
    <add key="C_Appen_ImediAccess" value="500" />
    <add key="C_Appen_InterestFree" value="45 Days" />
    <add key="C_Appen_RetireAge" value="60" />
    <add key="C_Appen_RetireDate" value="31/12/2030" />
    <add key="C_Appen_Saving4Retire" value="High" />
    <add key="C_Appen_IncAfterTax" value="2000" />
    <add key="C_Appen_IncInRetire" value="Investment Income" />
    <add key="C_Appen_IncAssetsRetire" value="Property" />


    <add key="P_Appen_DebtRepay" value="43" />
    <add key="P_Appen_LifeDebt" value="Increasing" />
    <add key="P_Appen_ImediAccess" value="500" />
    <add key="P_Appen_InterestFree" value="45 Days" />
    <add key="P_Appen_RetireAge" value="60" />
    <add key="P_Appen_RetireDate" value="31/12/2030" />
    <add key="P_Appen_Saving4Retire" value="High" />
    <add key="P_Appen_IncAfterTax" value="2000" />
    <add key="P_Appen_IncInRetire" value="Investment Income" />
    <add key="P_Appen_IncAssetsRetire" value="Property" />
    
     <!--                                            Client & Partner Appendix  Retirement Planning                         -->

    <add key="C_Appen_ProdName" value="Investment Fund" />
    <add key="C_Appen_PenType" value="Joint Life" />
    <add key="C_Appen_PayFreq" value="Yearly" />
    <add key="C_Appen_GrosInc" value="2500" />
    <add key="C_Appen_AnnTaxFreeAmt" value="500" />
    <add key="C_Appen_IniInvest" value="1800" />
    <add key="C_Appen_RCV" value="210" />
    <add key="C_Appen_CDate" value="01/01/2018" />
    <add key="C_Appen_InveNumber" value="12Inv45" />
    <add key="C_Appen_EliServDate" value="15/02/2018" />
    <add key="C_Appen_RevBenific" value="Yes" />
    <add key="C_Appen_DatePur" value="06/03/2018" />
    <add key="C_Appen_AssetTest" value="50% Exempt" />
    <add key="C_Appen_MaturDate" value="22/03/2019" />
    <add key="C_Appen_AnnuAmtPa" value="100" />
    <add key="C_Appen_CurrentBalance" value="900" />
    <add key="C_Appen_IndexRate" value="13" />
    <add key="C_Appen_CurreUPP" value="140" />
    <add key="C_Appen_TaxDeduct" value="1100" />
    <add key="C_Appen_CentreLink" value="250" />
    <add key="C_Appen_CGTExempt" value="160" />
    <add key="C_Appen_Concessional" value="80" />
    <add key="C_Appen_Post94Invalid" value="150" />

    <add key="C_Appen_TaxUnTaxed" value="750" />
    <add key="C_Appen_Excessive" value="200" />
    <add key="C_Appen_Rebateable" value="8" />
    <add key="C_Appen_InvestOptions" value="Test" />


    <add key="P_Appen_ProdName" value="Investment Fund" />
    <add key="P_Appen_PenType" value="Joint Life" />
    <add key="P_Appen_PayFreq" value="Yearly" />
    <add key="P_Appen_GrosInc" value="2500" />
    <add key="P_Appen_AnnTaxFreeAmt" value="500" />
    <add key="P_Appen_IniInvest" value="1800" />
    <add key="P_Appen_RCV" value="210" />
    <add key="P_Appen_CDate" value="01/01/2018" />
    <add key="P_Appen_InveNumber" value="12Inv45" />
    <add key="P_Appen_EliServDate" value="15/02/2018" />
    <add key="P_Appen_RevBenific" value="Yes" />
    <add key="P_Appen_DatePur" value="06/03/2018" />
    <add key="P_Appen_AssetTest" value="50% Exempt" />
    <add key="P_Appen_MaturDate" value="22/03/2019" />
    <add key="P_Appen_AnnuAmtPa" value="100" />
    <add key="P_Appen_CurrentBalance" value="900" />
    <add key="P_Appen_IndexRate" value="13" />
    <add key="P_Appen_CurreUPP" value="140" />
    <add key="P_Appen_TaxDeduct" value="1100" />
    <add key="P_Appen_CentreLink" value="250" />
    <add key="P_Appen_CGTExempt" value="160" />
    <add key="P_Appen_Concessional" value="80" />
    <add key="P_Appen_Post94Invalid" value="150" />

    <add key="P_Appen_TaxUnTaxed" value="750" />
    <add key="P_Appen_Excessive" value="200" />
    <add key="P_Appen_Rebateable" value="8" />
    <add key="P_Appen_InvestOptions" value="Test" />
    
     <!--                                            Client & Partner Appendix  Risk Management                         -->


  <add key="C_Appen_Risk_FDepends" value="You solely" />
  <add key="C_Appen_Risk_TempIncReplace" value="500" />
    <add key="C_Appen_Risk_PermIncReplace" value="123" />
      <add key="C_Appen_Risk_Provision" value="As well off" />
      <add key="C_Appen_Risk_UnExpIncReplace" value="450" />
        <add key="C_Appen_Risk_AmntReq" value="3100" />
    <add key="C_Appen_Risk_HM" value="250" />
     <add key="C_Appen_Risk_Other" value="250" />
     <add key="C_Appen_Risk_FuneralCost" value="610" />
     <add key="C_Appen_Risk_EmergencyFund" value="50" />
    
       <add key="C_Appen_Risk_EducationFund" value="211" />
       <add key="C_Appen_Risk_EstatePlanningFund" value="200" />
        <add key="C_Appen_Risk_ChildCareFund" value="100" />
 <add key="C_Appen_Risk_ProvisionforTax" value="250" />
  <add key="C_Appen_Risk_OtherFund" value="150" />

    
     <add key="C_Appen_Risk_TPDReducedebt" value="2100" />
    <add key="C_Appen_Risk_TraumaReducedebt" value="1300" />
  <add key="C_Appen_Risk_TPDHomeMortgage" value="700" />
      <add key="C_Appen_Risk_TraumaHomeMortgage" value="500" />
     <add key="C_Appen_Risk_TPDOtherAmount" value="150" />
     <add key="C_Appen_Risk_OtherAmount" value="80" />
     <add key="C_Appen_Risk_TPDMedicalLifestyleFund" value="140" />
     <add key="C_Appen_Risk_TraumaMedicalLifestyleFund" value="120" />
    <add key="C_Appen_Risk_TPDEmergencyFund" value="110" />
      <add key="C_Appen_Risk_TraumaEmergencyFund" value="100" />
        <add key="C_Appen_Risk_TPDRecoveryFund" value="90" />
          <add key="C_Appen_Risk_TraumaRecoveryFund" value="70" />
      <add key="C_Appen_Risk_TPDHomePurchaseFund" value="155" />
    
      <add key="C_Appen_Risk_TraumaHomePurchaseFund" value="121" />
    
      <add key="C_Appen_Risk_TPDEducation" value="91" />
    
     <add key="C_Appen_Risk_TraumaEducation" value="100" />
    
      <add key="C_Appen_Risk_TPDEstatePlanning" value="300" />
    <add key="C_Appen_Risk_TraumaEstatePlanning" value="200" />
    
     <add key="C_Appen_Risk_TPDChildCareFund" value="50" />
    
  <add key="C_Appen_Risk_TraumaChildCareFund" value="75" />
     <add key="C_Appen_Risk_TPDOtherFund" value="25" />
      <add key="C_Appen_Risk_TraumaOtherFund" value="30" />
      <add key="C_Appen_Risk_IncomeRequested" value="50" />
     <add key="C_Appen_Risk_WaitingPeriod" value="1 Year" />
     <add key="C_Appen_Risk_BenefitPeriod" value="2 Year" />
     <add key="C_Appen_Risk_AccidentCoverType" value="Family Cover" />
     <add key="C_Appen_Risk_AccruedSickLeaveDays" value="15" />
     <add key="C_Appen_Risk_AccruedLeaveDays" value="21" />
     <add key="C_Appen_Risk_OtherBenefits" value="Test Purpose 123" />
      <add key="C_Appen_Risk_HazardousPursuits" value="Testing going on " />


    <add key="P_Appen_Risk_FDepends" value="You solely" />
    <add key="P_Appen_Risk_TempIncReplace" value="100" />
    <add key="P_Appen_Risk_PermIncReplace" value="200" />
    <add key="P_Appen_Risk_Provision" value="As well off" />
    <add key="P_Appen_Risk_UnExpIncReplace" value="100" />
    <add key="P_Appen_Risk_AmntReq" value="2400" />
    <add key="P_Appen_Risk_HM" value="300" />
    <add key="P_Appen_Risk_Other" value="100" />
    <add key="P_Appen_Risk_FuneralCost" value="50" />
    <add key="P_Appen_Risk_EmergencyFund" value="70" />

    <add key="P_Appen_Risk_EducationFund" value="150" />
    <add key="P_Appen_Risk_EstatePlanningFund" value="200" />
    <add key="P_Appen_Risk_ChildCareFund" value="100" />
    <add key="P_Appen_Risk_ProvisionforTax" value="250" />
    <add key="P_Appen_Risk_OtherFund" value="150" />


    <add key="P_Appen_Risk_TPDReducedebt" value="2100" />
    <add key="P_Appen_Risk_TraumaReducedebt" value="1300" />
    <add key="P_Appen_Risk_TPDHomeMortgage" value="700" />
    <add key="P_Appen_Risk_TraumaHomeMortgage" value="500" />
    <add key="P_Appen_Risk_TPDOtherAmount" value="150" />
    <add key="P_Appen_Risk_OtherAmount" value="80" />
    <add key="P_Appen_Risk_TPDMedicalLifestyleFund" value="140" />
    <add key="P_Appen_Risk_TraumaMedicalLifestyleFund" value="120" />
    <add key="P_Appen_Risk_TPDEmergencyFund" value="110" />
    <add key="P_Appen_Risk_TraumaEmergencyFund" value="100" />
    <add key="P_Appen_Risk_TPDRecoveryFund" value="90" />
    <add key="P_Appen_Risk_TraumaRecoveryFund" value="70" />
    <add key="P_Appen_Risk_TPDHomePurchaseFund" value="155" />

    <add key="P_Appen_Risk_TraumaHomePurchaseFund" value="121" />

    <add key="P_Appen_Risk_TPDEducation" value="91" />

    <add key="P_Appen_Risk_TraumaEducation" value="100" />

    <add key="P_Appen_Risk_TPDEstatePlanning" value="300" />
    <add key="P_Appen_Risk_TraumaEstatePlanning" value="200" />

    <add key="P_Appen_Risk_TPDChildCareFund" value="50" />

    <add key="P_Appen_Risk_TraumaChildCareFund" value="75" />
    <add key="P_Appen_Risk_TPDOtherFund" value="25" />
    <add key="P_Appen_Risk_TraumaOtherFund" value="30" />
    <add key="P_Appen_Risk_IncomeRequested" value="50" />
    <add key="P_Appen_Risk_WaitingPeriod" value="1 Year" />
    <add key="P_Appen_Risk_BenefitPeriod" value="2 Year" />
    <add key="P_Appen_Risk_AccidentCoverType" value="Family Cover" />
    <add key="P_Appen_Risk_AccruedSickLeaveDays" value="15" />
    <add key="P_Appen_Risk_AccruedLeaveDays" value="21" />
    <add key="P_Appen_Risk_OtherBenefits" value="Test Purpose" />
    <add key="P_Appen_Risk_HazardousPursuits" value="Testing" />
    

    <!--                                            Client & Partner Appendix  Direct Property                        -->
    <add key="C_Appen_Description" value="Test Property" />
    <add key="C_Appen_PropType" value="Residential Investment Property" />
    <add key="C_Appen_Owner" value="Swap L" />
    <add key="C_Appen_PurchasePrice" value="200" />
    <add key="C_Appen_DatePurchased" value="01/01/2015" />
    <add key="C_Appen_CurrentValue" value="400" />
    <add key="C_Appen_ProjectedCapitalGrowth" value="25" />
    <add key="C_Appen_ActualRentalIncome" value="50" />
    <add key="C_Appen_ProjectedRentalIncome" value="75" />
    <add key="C_Appen_DepreciationAllowance" value="20" />
    <add key="C_Appen_Depreciation" value="10" />
    <add key="C_Appen_AnnualExpenses" value="1000" />
    <add key="C_Appen_Rates" value="11" />
    <add key="C_Appen_AgentFees" value="30" />
    <add key="C_Appen_LandTax" value="65" />
    <add key="C_Appen_Insurance" value="105" />
    <add key="C_Appen_InterestOnLoan" value="14" />
    <add key="C_Appen_BodyCorporate" value="100" />
    <add key="C_Appen_OtherTax" value="80" />
    <add key="C_Appen_OtherCosts" value="55" />
    <add key="C_Appen_MaintenanceRepairs" value="20" />



    <add key="C_Appen_Sell_Description" value="Test Sell Property" />
    <add key="C_Appen_Sell_ExpectedDateOfSale" value="24/03/2019" />
    <add key="C_Appen_Sell_ExpectedSalePrice" value="1200" />
    <add key="C_Appen_Sell_AgentFees" value="25" />
    <add key="C_Appen_Sell_LegalFees" value="21" />
    <add key="C_Appen_Sell_SubdivisionCost" value="10" />
    <add key="C_Appen_Sell_ProjectedDisposalCost" value="87" />
    <add key="C_Appen_Sell_EstimatedCapitalGainsTax" value="17" />
    <add key="C_Appen_Sell_OtherDisposalCosts" value="12" />


    <add key="P_Appen_Description" value="Test Property" />
    <add key="P_Appen_PropType" value="Residential Investment Property" />
    <add key="P_Appen_Owner" value="Swap L" />
    <add key="P_Appen_PurchasePrice" value="200" />
    <add key="P_Appen_DatePurchased" value="01/01/2015" />
    <add key="P_Appen_CurrentValue" value="400" />
    <add key="P_Appen_ProjectedCapitalGrowth" value="25" />
    <add key="P_Appen_ActualRentalIncome" value="50" />
    <add key="P_Appen_ProjectedRentalIncome" value="75" />
    <add key="P_Appen_DepreciationAllowance" value="20" />
    <add key="P_Appen_Depreciation" value="10" />
    <add key="P_Appen_AnnualExpenses" value="1000" />
    <add key="P_Appen_Rates" value="11" />
    <add key="P_Appen_AgentFees" value="30" />
    <add key="P_Appen_LandTax" value="65" />
    <add key="P_Appen_Insurance" value="105" />
    <add key="P_Appen_InterestOnLoan" value="14" />
    <add key="P_Appen_BodyCorporate" value="100" />
    <add key="P_Appen_OtherTax" value="80" />
    <add key="P_Appen_OtherCosts" value="55" />
    <add key="P_Appen_MaintenanceRepairs" value="20" />



    <add key="P_Appen_Sell_Description" value="Test Sell Property" />
    <add key="P_Appen_Sell_ExpectedDateOfSale" value="24/03/2019" />
    <add key="P_Appen_Sell_ExpectedSalePrice" value="1200" />
    <add key="P_Appen_Sell_AgentFees" value="25" />
    <add key="P_Appen_Sell_LegalFees" value="21" />
    <add key="P_Appen_Sell_SubdivisionCost" value="10" />
    <add key="P_Appen_Sell_ProjectedDisposalCost" value="87" />
    <add key="P_Appen_Sell_EstimatedCapitalGainsTax" value="17" />
    <add key="P_Appen_Sell_OtherDisposalCosts" value="12" />



    <!--                                            Client & Partner Appendix  SMSF                        -->
    <add key="C_Appen_SMSF_FundName" value="Test SMSF" />
    <add key="C_Appen_SMSF_Trustee" value="Johnson Lwarence" />
    <add key="C_Appen_SMSF_CorporateTrusteeABN" value="21620747426" />
    <add key="C_Appen_SMSF_RegisteredAddress" value="Suite 6,68-70 Old Princes Hwy,Beaconsfield,3807,VIC,AU" />
    <add key="C_Appen_SMSF_EstablishmentDate" value="19/03/2018" />
    <add key="C_Appen_SMSF_TypesFund" value="Small APRA Fund (SAF)" />
    <add key="C_Appen_SMSF_ReserveAccount" value="350" />
    <add key="C_Appen_SMSF_LoansBorrowed" value="220" />
    <add key="C_Appen_SMSF_TotalFunds" value="570" />
    <add key="C_Appen_SMSF_MemberName" value="Adam Parkar" />
    <add key="C_Appen_SMSF_CurrentBalance" value="550" />
    <add key="C_Appen_SMSF_RegularContributions" value="2500" />
    <add key="C_Appen_SMSF_P_A_Phase" value="Accumulation Phase" />
    <add key="C_Appen_SMSF_TaxFreeComponent" value=" 999" />

    <add key="P_Appen_SMSF_FundName" value="Test SMSF" />
    <add key="P_Appen_SMSF_Trustee" value="Johnson Lwarence" />
    <add key="P_Appen_SMSF_CorporateTrusteeABN" value="21620747426" />
    <add key="P_Appen_SMSF_RegisteredAddress" value="Suite 6,68-70 Old Princes Hwy,Beaconsfield,3807,VIC,AU" />
    <add key="P_Appen_SMSF_EstablishmentDate" value="19/03/2018" />
    <add key="P_Appen_SMSF_TypesFund" value="Small APRA Fund (SAF)" />
    <add key="P_Appen_SMSF_ReserveAccount" value="350" />
    <add key="P_Appen_SMSF_LoansBorrowed" value="220" />
    <add key="P_Appen_SMSF_TotalFunds" value="570" />
    <add key="P_Appen_SMSF_MemberName" value="Adam Parkar" />
    <add key="P_Appen_SMSF_CurrentBalance" value="550" />
    <add key="P_Appen_SMSF_RegularContributions" value="2500" />
    <add key="P_Appen_SMSF_P_A_Phase" value="Accumulation Phase" />
    <add key="P_Appen_SMSF_TaxFreeComponent" value=" 999" />


    <!--                                            Client & Partner Appendix  Business Interests                        -->


    <add key="C_Appen_BI_Entity" value="Client" />
    <add key="C_Appen_BI_TradingName" value=" Testa" />
    <add key="C_Appen_BI_NatureOfBusiness" value=" Business Goals" />
    <add key="C_Appen_BI_BusinessStructure" value="Company" />
    <add key="C_Appen_BI_StructureRelationship" value="Own Company" />
    <add key="C_Appen_BI_OperatingEntityName" value="Swap Lan" />
    <add key="C_Appen_BI_BusinessNetvalue" value="700000" />
    <add key="C_Appen_BI_ShareHolding" value="50" />

    <add key="P_Appen_BI_Entity" value="Client" />
    <add key="P_Appen_BI_TradingName" value=" Testa" />
    <add key="P_Appen_BI_NatureOfBusiness" value=" Business Goals" />
    <add key="P_Appen_BI_BusinessStructure" value="Company" />
    <add key="P_Appen_BI_StructureRelationship" value="Own Company" />
    <add key="P_Appen_BI_OperatingEntityName" value="Swap Lan" />
    <add key="P_Appen_BI_BusinessNetvalue" value="700000" />
    <add key="P_Appen_BI_ShareHolding" value="50" />



    <!--                                            Client & Partner Appendix  Business Interests                        -->


    <add key="C_Appen_Redund_RedundancyType" value="Redundancy" />
    <add key="C_Appen_Redund_ETPDate" value="15/04/2018" />
    <add key="C_Appen_Redund_EligibleServiceDate" value="21/04/2018" />
    <add key="C_Appen_Redund_Amount" value="1234" />


    <add key="P_Appen_Redund_RedundancyType" value="Redundancy" />
    <add key="P_Appen_Redund_ETPDate" value="15/04/2018" />
    <add key="P_Appen_Redund_EligibleServiceDate" value="21/04/2018" />
    <add key="P_Appen_Redund_Amount" value="1234" />


    <!--                                            Client & Partner Appendix  Annual Leave                       -->

    <add key="C_Appen_AL_Description" value="Test Annual Leave" />
    <add key="C_Appen_AL_ETPDate" value="10/01/2018" />
    <add key="C_Appen_AL_Amount" value="212" />
    <add key="C_Appen_Redund_LeaveType" value="Special" />

    <add key="P_Appen_AL_Description" value="Test Annual Leave" />
    <add key="P_Appen_AL_ETPDate" value="10/01/2018" />
    <add key="P_Appen_AL_Amount" value="212" />
    <add key="P_Appen_Redund_LeaveType" value="Special" />

    <!--                                            Client & Partner Appendix  Long Service Leave                       -->
    <add key="C_Appen_LSL_Description" value="Test Long Service Leave" />
    <add key="C_Appen_LSL_ETPDate" value="22/03/2018" />
    <add key="C_Appen_LSL_EligibleDate" value="25/03/2018" />
    <add key="C_Appen_LSL_Amount" value="2100" />
    <add key="C_Appen_LSL_LeaveType" value="Normal" />

    <add key="P_Appen_LSL_Description" value="Test Long Service Leave" />
    <add key="P_Appen_LSL_ETPDate" value="22/03/2018" />
    <add key="P_Appen_LSL_EligibleDate" value="25/03/2018" />
    <add key="P_Appen_LSL_Amount" value="2100" />
    <add key="P_Appen_LSL_LeaveType" value="Normal" />

    <!--                                            Client & Partner Appendix  Defined Benifits                       -->
    
<add key="C_Appen_DB_Description" value="Test LDefined Benifits" />
<add key="C_Appen_DB_AccuralRate" value="10" />
<add key="C_Appen_DB_SuperSalary" value="45000" />
<add key="C_Appen_DB_DBTaxFreeAmount" value="3100" />
<add key="C_Appen_DB_PaymentDate" value="10/02/2018" />


    <add key="P_Appen_DB_Description" value="Test LDefined Benifits" />
    <add key="P_Appen_DB_AccuralRate" value="10" />
    <add key="P_Appen_DB_SuperSalary" value="45000" />
    <add key="P_Appen_DB_DBTaxFreeAmount" value="3100" />
    <add key="P_Appen_DB_PaymentDate" value="10/02/2018" />

    <!--                                            Client & Partner Pensions                       -->
    <add key="C_Pen_FName" value="Test Pensions 3" />
    <add key="C_Pen_Type" value="Allocated Pension / Account based Pension" />
    <add key="C_Pen_CB" value="33" />
    <add key="C_Pen_Freq" value="Fortnightly" />
    <add key="C_Pen_Income" value="3" />
    <add key="C_Pen_FreeAmount" value="3" />
    <add key="C_Pen_FreePercentage" value="3" />
    <add key="C_Pen_Investment" value="3" />
    <add key="C_Pen_ReturnOfCapital" value="3" />
    <add key="C_Pen_CommencementDate" value="30/10/2017" />
    <add key="C_Pen_Term" value="3" />

    <add key="P_Pen_FName" value="Test Pensions123" />
    <add key="P_Pen_Type" value="Allocated Pension / Account based Pension" />
    <add key="P_Pen_CB" value="620" />
    <add key="P_Pen_Freq" value="Fortnightly" />
    <add key="P_Pen_Income" value="650000" />
    <add key="P_Pen_FreeAmount" value="88000" />
    <add key="P_Pen_FreePercentage" value="10" />
    <add key="P_Pen_Investment" value="5700" />
    <add key="P_Pen_ReturnOfCapital" value="1400" />
    <add key="P_Pen_CommencementDate" value="21/05/2017" />
    <add key="P_Pen_Term" value="15" />

    <!--                                            Client & Partner Professional Service Contacts                       -->
   
    <add key="C_PSC_Name" value="Test PSC" />
    <add key="C_PSC_ContactType" value="Mortgage Broker" />
    <add key="C_PSC_ContactEmail" value="s@l.com" />
    <add key="C_PSC_ContactNumber" value="0423654789" />
    <add key="C_PSC_ContactRequirement" value="Yes" />

    <add key="P_PSC_Name" value="Test PSC" />
    <add key="P_PSC_ContactType" value="Mortgage Broker" />
    <add key="P_PSC_ContactEmail" value="s@l.com" />
    <add key="P_PSC_ContactNumber" value="0423654789" />
    <add key="P_PSC_ContactRequirement" value="Yes" />


    <!--                                            Client & Partner Centrelink                      -->
    <add key="C_CN_GiftAssets" value="2500" />
    <add key="C_CN_OtherSupport" value="Yes" />

    <add key="C_PSC_BenefitType" value="DVA Service Pension" />
    <add key="C_PSC_Status" value="Taxable" />


    <add key="P_CN_GiftAssets" value="2500" />
    <add key="P_CN_OtherSupport" value="Yes" />

    <add key="P_PSC_BenefitType" value="DVA Service Pension" />
    <add key="P_PSC_Status" value="Taxable" />




    <!--add key="Path" value="D://geckodriver-v0.20.0-win64" /-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>